.head-lines{
    text-align: center;
    font-family: monospace;
    
}
#scheduler
{
    padding-left: 40%;
    padding-top: -10%;
}
.contain
{
    padding-top: 2%;
}
.burst-time
{
    width: 20%;
    
}
#pris
{
    width: 50%;
}
fresh th {
    background: linear-gradient(WhiteSmoke, lightgray);
    text-align: left;
    border: 1px solid black;
    height: 400 px;
    text-align: center;
}
fresh td {
    border: 1px solid black;
    border-bottom: 0;
    /*border-right: 0;*/
    height: 20px;
    text-align: left;
    color:black;
}
div th, div td {
    border: 1px solid black;
    text-align: center;
    padding: 3%;
}

table
{
    display: inline;
    border-collapse: collapse;
    padding-left: 40%;
    
}
input {
    text-align: center;
}
.paramter-control
{
    margin-left: 40%;
    
}


.zaz{ 
    color: grey;
font-size: 20px;
text-align: center;

}
