*
{
    color:white;
}
input
{
    color: black;
}

fresh th {
    background-color:rgb(34, 29, 40); 
    text-align: left;
    border: 1px solid grey;
    height: 400 px;
}
fresh td {
    border: 1px solid grey;
    border-bottom: 0;
    /*border-right: 0;*/
    height: 20px;
    text-align: left;
}

div th, div td {
    border: 1px solid grey;
    text-align: center;
}
table {
    display: inline;
    border-collapse: collapse;
}
input {
    text-align: center;
}
#curtain {
    background-color:rgb(34, 29, 40); 
}


h2{
font-size: 20px;
color: #ff0031;
}

h1{
font-size: 55px;
color:    #933648;
}

h4{
color:    #933648;
font-size: 25px;

}
.container {
width: 1100px;
margin-left: auto;
margin-right: auto;
font-family: cursive;
font-size: 17px;
text-align: center

}

.about{
color: grey;
font-size: 35px;
}

.zaz{ color:    #933648;
    color: grey;
font-size: 30px;

}