@keyframes slideInLeft {
    from {
        transform: translateX(-200px);
    }
    
    to {
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    from {
        transform: translateX(200px);
    }
    
    to {
        transform: translateX(0);
    }
}

body{
    margin: 0px;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: space-between;

}
.button{
    padding: 0;
    width: 49.97vw;
    height: 100vh;
    background-color: #121212;
    border: none;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal; 
    font-weight: 400;
    font-size: 150px;
    color: #fff;
}

.button:hover {
    background-color: #fff;
    cursor: pointer;
    color: #121212;
}

.button-1{
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
.button-2{
    animation-name: slideInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

