@keyframes slideInRight{
    from {
        transform: translateX(1000px);
    }
    
    to {
        transform: translateX(0);
    }
} 

.block {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;

    display: inline-block;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    margin: 30px 0 30px 0;
    width: 50px;
    position: relative; 
  }
  
  .block.empty {
    background-color: lightgray;
  }
  
  .block.process {
    background-color: lightgreen;
    /* width: var(--allocated-percentage, 0%); */
  
  }
  
  .block-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: lightgreen;
  }
  
  .block-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
  }

  